

.Sidebar {
 position: fixed;
 left: 20px;
width: 50px;
opacity: 100%;
transition: display .30s ease;
}


.Hidden {
  display: none;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: transparent;
  border: none;
  border-radius: .4rem;
  color: black;
  transition: color .30s ease;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 2.5rem;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  padding: 0 1.0rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 75px;
}

.Inverted {
  color: white;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  color: #fff;
  outline: 0;
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}
